{% extends 'index.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Fill in all the fields required to submit your order</h1>
        <div class="columns">
            <div class="column is-two-thirds">
                <form method="post" action="{% url 'craft:checkout' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-primary">Confirm</button>
                        </div>
                        <div class="control">
                            <a href="{% url 'craft:order' %}" class="button is-text">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
                <h2 class="subtitle">Order Summary</h2>
                <ul>
                    <li>Order Number: {{ order.order_name }}</li>
                    <li>Total Quantity: {{ order.quantity }}</li>
                    <li>Total Amount: {{ total }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
