{% extends 'index.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="buttons">
             <a href="{% url 'craft:get_products' %}" class="button is-link is-light">Back to Product List</a>
             <a href="{% url 'craft:sale' %}" class="button is-link is-light">Back to Sale</a>
        </div>
        <h1 class="title">My Favourites</h1>
        <table class="table is-striped">
            <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Availability</th>
                <th>Actions</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for favourite in object_list %}
            <tr>
                <td>{{ favourite.product.name }}</td>
                <td>{{ favourite.product.category }}</td>
                <td>{{ favourite.product.brand }}</td>
                <td>{{ favourite.product.price }}</td>
                {% if favourite.product.quantity > 0 %}
                <td>In stock</td>
                {% else %}
                <td>Sold out</td>
                {% endif %}
                <td>
                    <form action="{% url 'craft:add_to_cart' product_id=favourite.product.id %}" method="post">
                        {% csrf_token %}
                        {% if favourite.product.quantity == 0 %}
                        <button class="button is-success is-small" type="submit" disabled>Add to Cart</button>
                        {% else %}
                        <button class="button is-success is-small" type="submit">Add to Cart</button>
                        {% endif %}
                    </form>
                </td>
                <td>
                    <form action="{% url 'craft:remove_from_favourites' pk=favourite.id %}" method="post">
                        {% csrf_token %}
                        <button class="button is-danger is-small" type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No favourites yet.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
